.btn
  border none
  width 3.5rem
  height 3.5rem

.btn > span
  display none

.btn:disabled
  opacity .2

.btn.done
  background url(../img/check.svg) no-repeat center center

.btn.add
  background url(../img/add.svg) no-repeat center center

.btn.del
  background url(../img/del.svg) no-repeat center center

.btn.edit
  background url(../img/edit.svg) no-repeat center center

.btn:hover
  background-color rgba(255,255,255,.1)
