#view-todos > .view-content
  margin-left 0
  margin-right 0
 
#view-add > .view-content
  margin-top 2rem

#view-add > .view-content > .wrapper
  overflow hidden
  margin 0 auto
  max-width 800px
  width 100%

#view-add input[name=task]
  width 100%

#view-add .options
  margin 0 0 .5rem 0
  text-align right

#view-add .options [role=listitem]
  margin .5rem 0

#view-add .options a
  padding .4rem
